.top_div
{
    /*background: url(../content/img/top.jpg);*/
    background-size: cover;
    background-attachment: fixed;
    height: 70%;
}

    .top_div h1
    {
        color: white;
    }


.div_botones
{
    margin-top: 6rem !important;
}