@import url('https://fonts.googleapis.com/css2?family=Farro&family=Montserrat&display=swap');

.top_div
{
    background: url(../content/img/top2.png);
    background-size: cover;
    height: 79%;
}

    .top_div h1
    {
        color: white;
    }


a{
    text-decoration: none !important;
    color: white !important;
}

.div_botones
{
    margin-top: 10rem !important;
}

body
{
  background-color: black;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.logo
{
    position: absolute;
    text-align: center !important;
    top: 20px;
    left: 40%;
    width: 20%;
}

/*css logged-in*/
.user{
    position: absolute;
    text-align: left !important;
    color: white;
    left: 10%;
    top: 5%;
}

.btnLogin
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url(../content/img/texturanegra2.jpg);
    background-size: cover;
    border: 4px solid #BA181B;
    color: #BA181B;
    font-weight: 700;
    font-size: 1.2em;
}

.btnRegister
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url(../content/img/granate.jpg);
    background-position: center;
    border: 4px solid black;
    color: black;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none !important;
    transition: 0.2s;
    animation-name: goBig;
    transition: 0.2s;
    animation-duration: 0.2s;
}

.btnRegister:hover
{
    cursor: pointer;
    color: white;
    animation: goBig 2s infinite;
}

.btnLogin:hover
{
    cursor: pointer;
    color: red;
    transition: 0.2s;
}

.fila
{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #BA181B;
}

.text
{
    color: white;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.caja
{
    border: 5px solid #BA181B;
    -webkit-box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
    -moz-box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
    box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
    -webkit-box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
    -moz-box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
    box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: white;
    border-radius: 0px;
    padding: 10px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid black;
    font-weight: 600;
    font-size: 1.1em;
    font-style: italic;
    letter-spacing: 1px;
  }

  .custom-btn2 {
    width: 160px;
    height: 40px;
    color: white;
    padding: 10px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background: url(../content/img/botonRojo.jpg);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    font-weight: 600;
    font-size: 1.1em;
    font-style: italic;
    letter-spacing: 1px;
  }

  .btn-5 {
    width: 260px;
    height: 60px;
    line-height: 42px;
    padding: 0;
    border: none;
    background-image: url(../content/img/granate.jpg);
    background-position: center;
  }

  .btn-6 {
    color: white !important;
    width: 260px;
    height: 60px;
    line-height: 42px;
    padding: 0;
    border: none;
    background-image: url(../content/img/texturanegra2.jpg);
    background-position: center;
  }

  .btn-5:hover {
    color: white;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }




  .btn-6:hover {
    color: white;
    background: transparent;
     box-shadow:none;
  }
  .btn-6:before,
  .btn-6:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000000;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-6:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-6:hover:before,
  .btn-6:hover:after{
    width:100%;
    transition:800ms ease all;
  }

/* 7 */
.btn-7 {
  background: url(../content/img/botonRojo.jpg);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgb(206, 50, 53);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: white;
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(206, 50, 53);
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }

  .titolActius
  {
      margin-top: 6rem;
      color: white;
      font-weight: 600;
      font-style: italic;
  }

/*FOOTER*/

  footer{
    font-size: 1em;
    background-color: #181818;
  }

  footer section{
    font-size: 0.8em;
  }


/*SCROLLBAR MOD*/

/* width*/
::-webkit-scrollbar {
width: 10px;
}

/* Track*/
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle*/ 
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/*FIN SCROLLBAR MOD*/


  .main_tournament
  {
    height: 170px;
    background: url(../content/img/hellok.png);
    background-size: cover;
    color: white;
    width: 100%;
  }

  .first_half
  {
    height: 100px;
  }

  .main_tournament_text
  {
    background:rgb(0, 0, 0, 0.6);
    height: 100px;
  }

  .torneo
  {
    height: 200px;
    width: 90%;
  }

  .torneo1
  {
    background: url(../content/img/lol.png);
    background-size: cover;   
    background-position: center;
  }
  
  .torneo2
  {
    background: url(../content/img/streetf.png);
    background-size: cover;
    background-position: center;
  }

  .torneo3
  {
    background: url(../content/img/fifa.png);
    background-size: cover;
    background-position: center;
  }

  .tournament-text
  {
    color: white;
    background: rgb(0, 0, 0, 0.6);
  }

  .fondoFortnite
  {
    background: url(../content/img/portadaFifa.png);
    background-position: center;
    height: 478px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-size: cover;
    justify-content: space-between;
    background-repeat: no-repeat;
    border-bottom-right-radius: 56px;
  }

  .fondoLol
  {
    background: url(../content/img/fondoLol.jpg);
    height: 478px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-size: cover;
    justify-content: space-between;
    background-repeat: no-repeat;
    border-bottom-right-radius: 56px;
  }

  .fondoCod
  {
    background: url(../content/img/fondoSF.png);
    background-position: center;
    height: 478px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-size: cover;
    justify-content: space-between;
    background-repeat: no-repeat;
    border-bottom-right-radius: 56px;
  }

  .game-card-lol
  {

  }

  .game-card-cod
  {
    
  }

  .game-card-fortnite
  {
    
  }

  .fortniteguy
  {
    margin-top: 50px;
    filter: brightness(100%) !important;
  }

  .codguy
  {
    margin-top: 50px;
  }

  .gnar
  {
    margin-top: 50px;
  }

  .escalar
  {
    transition: 0.2s;
  }

  .escalar:hover
  {
    transform: scale(1.1);
  }

  .text-game
  {
    color: white;
    display: inherit;
    padding: 32px;
    font-size: 18px;
    column-gap: 16px;
    grid-template-columns: 40px 1fr;
  }

    .text-game p
    {
      font-size: 14px;
    }

    .text-game span
    {
      font-size: 12px;
    }

  .fondo-game
  {
    transition: opacity 0.5s cubic-bezier(0.4, 0, 1, 1);
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  .div_botones2
  {
    margin-bottom: 14rem;
  }

  .text_box:hover
  {
    transition: 0.2s;
  }

    .text_box:hover
    {
      transition: 0.2s;
      transform: scale(1.3);
    }

    .marco{
      border: 5px solid #BA181B;
      -webkit-box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
      -moz-box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
      box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
      -webkit-box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
      -moz-box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
      box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
      background-color: black;
      padding: 40px;
      position: relative;
      top: -110px;
  }



  .marco2{
    border: 5px solid #BA181B;
    -webkit-box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
    -moz-box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
    box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
    -webkit-box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
    -moz-box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
    box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
    background-color: black;
    padding: 40px;
    margin-top: -10%;
}

  .dadesCobrament
  {
    color: rgb(206, 50, 53);
    font-weight: 600;
    font-style: italic;
    position: relative;
    bottom: -40px;
    background-color: black;
    width: 20%;
    left: 40%;
  }

  .divCobrament
  {
    border-bottom: 1px solid rgb(206, 50, 53);
  }

  .div_login
  {
    margin-top: 15rem;
  }

  .text_card
  {
    font-size: 0.9em;
  }

    .text_card span
    {
      font-weight: 600;
      font-style: italic;
    }

  .fotoPerfil
  {
    border-radius: 50%;
    width: 7%;
  }

  .textProfile p
  {
    color:rgb(206, 50, 53);
    font-weight: 600;
    font-style: italic;
  }

.title
{
  color: white;
  font-weight: 600;
  font-style: italic;
}

.marginado
{
  margin-top: 8rem;
}

.cajaPerfil
{
  border: 2px solid rgb(206, 50, 53);
  padding-top: 20px;
}

  .cajaPerfil span
  {
    font-size: 3em;
    color: white;
    position: relative;
    top: 20px !important;
  }

  .cajaPerfil p 
  {
    padding-top: 35px;
    color: white;
  }

.banner
{
  background-color:rgb(43, 42, 42);
  position: relative;
  height: 145px;
}

.marioHome
{
  position: relative;
    margin-top: -60%;
    margin-left: 60%;
    width: 50%;
    top: 80%;
    left: 8%;
}

.knucklesHome
{
  position: relative;
  margin-top: -52%;
  margin-left: 0%;
  width: 60%;
  top: 125%;
  left: -30%;
}

.dariusHome
{
  position: relative;
    margin-top: -60%;
    margin-left: 60%;
    width: 50%;
    top: 80%;
    left: 8%;
}

.text2
{
  color: white;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 17px;
    padding-left: 30px;
    padding-right: 30px;
    height: 20px;
}

.banner2
{
  margin-top:5rem;
}

.text3 {
  color: white;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  height: 20px;
  padding-right: 30px;
}

/*.leftSquare
{
  background-color:rgb(43, 42, 42);
}

.leftSquare p
{
  color:rgb(206, 50, 53);
}*/

.leftSquare
{
  background-color: rgba(87, 60, 60, 0.6);
  height: 218px;
  border-right: 2px solid rgb(206, 50, 53);
}

.cajaPerfil2
{
  border: 2px solid rgb(206, 50, 53);
  padding-top: 0px !important;
}

.cajaMiTourn
{
  border: 2px solid rgb(206, 50, 53);
}

.miTournTop
{
  border-bottom: 2px solid rgb(206, 50, 53);
  background-color: rgba(87, 60, 60, 0.6);
}

  .miTournTop p
  {
    color: white;
  }