.form{
    color:#ad1414; 
}

.marco{
    border: 5px solid #BA181B;
    -webkit-box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
    -moz-box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
    box-shadow: 22px 22px 0px -2px rgba(131,17,19,1);
    -webkit-box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
    -moz-box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
    box-shadow: 14px 14px 0px -2px rgb(206, 50, 53);
    background-color: black;
    padding: 40px;
    position: relative;
    top: -110px;
}

.btn-primary{
    background-color: #BA181B !important;
    border: red;
}