.form{
    color:#ad1414; 
}

.marco{
    border: 5px solid #BA181B;
    background-color: black;
    padding: 40px;
    position: relative;
    top: -110px;
}

.btn-primary{
    background-color: #BA181B !important;
    border: red;
}