

.top_Winners h2
{
    font-weight: 600;
    color: white;
    font-size: 4vw;
}

.taulaRanking
{
    background-color: white;
    border: 2px solid #f00;
}

.posicio
{
    border-bottom: 1px solid #f00;
    background-color: #f00;
}

    .posicio p
{
    color: white;
}

.nPosicio {
    background-color: #f00;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 2rem;
}

.nPosicio p {
    color: white;
    padding-top: 3px;
}

.fotoRanking
{
    width: 50px;
    border-radius: 50%;
}

.ziggs
{
    position: absolute;
    width: 35%;
    left: 61%;
    /* top: 22px; */
    top: 145%;
}

.punts
{
    font-weight: 900;
    letter-spacing: 1px;
    font-style: oblique;
}

.top_Winners span
{
    font-weight: 600;
    font-style: italic;
}

.div_botonesW h1
{
    font-weight: bold;
}

.div_orange
{
   background: linear-gradient(180deg, black, #f00);
}

.div_premios
{
    background-color: black;
    height: 300px;
    width: 100%;
}
